<h3>Announcements</h3>
<div>
  <!-- Message 1 -->
  <nb-card>
    <nb-card-header>Announcement Date</nb-card-header>
    <nb-card-body>
      A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
      Originally, nebula was a name for any diffuse astronomical object,
      including galaxies beyond the Milky Way.
    </nb-card-body>
    <nb-card-footer><button nbButton small>Dismiss</button></nb-card-footer>
  </nb-card>
  <nb-card>
    <nb-card-header>Announcement Date</nb-card-header>
    <nb-card-body>
      A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
      Originally, nebula was a name for any diffuse astronomical object,
      including galaxies beyond the Milky Way.
    </nb-card-body>
    <nb-card-footer><button nbButton small>Dismiss</button></nb-card-footer>
  </nb-card>
  <nb-card>
    <nb-card-header>Announcement Date</nb-card-header>
    <nb-card-body>
      A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
      Originally, nebula was a name for any diffuse astronomical object,
      including galaxies beyond the Milky Way.
    </nb-card-body>
    <nb-card-footer><button nbButton small>Dismiss</button></nb-card-footer>
  </nb-card>
  <nb-card>
    <nb-card-header>Announcement Date</nb-card-header>
    <nb-card-body>
      A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
      Originally, nebula was a name for any diffuse astronomical object,
      including galaxies beyond the Milky Way.
    </nb-card-body>
    <nb-card-footer><button nbButton small>Dismiss</button></nb-card-footer>
  </nb-card>
  <nb-card>
    <nb-card-header>Announcement Date</nb-card-header>
    <nb-card-body>
      A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
      Originally, nebula was a name for any diffuse astronomical object,
      including galaxies beyond the Milky Way.
    </nb-card-body>
    <nb-card-footer><button nbButton small>Dismiss</button></nb-card-footer>
  </nb-card>
  <nb-card>
    <nb-card-header>Announcement Date</nb-card-header>
    <nb-card-body>
      A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
      Originally, nebula was a name for any diffuse astronomical object,
      including galaxies beyond the Milky Way.
    </nb-card-body>
    <nb-card-footer><button nbButton small>Dismiss</button></nb-card-footer>
  </nb-card>

</div>
