<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>  
    <ion-button slot="end" routerLink="/view-announcement">
      <ion-icon name="notifications-outline" size="medium" ></ion-icon>
    </ion-button>
    <ion-button slot="end" routerLink="/view-invitation">
      <ion-icon name="mail-unread-outline" size="medium" ></ion-icon>
    </ion-button>
  </ion-toolbar><br>
  <ion-toolbar>
    <ion-title slot="start" size="medium" color="primary" style="height: 45px;">Follow-up on Members<br> wanting to serve</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>  
  <ion-item>
    <ion-icon name="trending-up-outline" slot="start"></ion-icon>
    <ion-label>Progress</ion-label>
    <ion-button fill="outline" slot="end" (click)="Check()">View</ion-button>
  </ion-item>
  <div *ngIf="ProgressCheck">
  <ion-item>
    <ion-label>Total:</ion-label>
    <ion-badge color="danger" slot="end">120</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Completed:</ion-label>
    <ion-badge color="success" slot="end">96</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Remaining:</ion-label>
    <ion-badge color="warning" slot="end">24</ion-badge>
  </ion-item>
</div>
  <br>
  <ion-item>
    <ion-label>Follow-ups remaining:</ion-label>
  </ion-item>
  
<ion-list>
   <!-- Sliding item with expandable options on both sides -->
  <ion-item-sliding>
    <ion-item-options side="start">
      <ion-item-option color="success" expandable>
        Call
      </ion-item-option>
    </ion-item-options>

    <ion-item>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label>Griffin Smith<br>
      Homecell: UPPERROOM<br>
      Date: 2020-05-10
       </ion-label>
      <ion-button fill="outline" slot="end"(click)="CheckGroups()" >Groups</ion-button><br>
      <div *ngIf="groups">
        <ion-item>
          <ion-label>1. Intercession
           </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>2. Kids Church
           </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>3. Street Ministry
           </ion-label>
        </ion-item>
       </div>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="primary">
        Assign
      </ion-item-option>
      <ion-item-option color="secondary">
        Completed
      </ion-item-option>
    </ion-item-options>


  
  </ion-item-sliding>

</ion-list>

</ion-content>
