<nb-card>
    <form [formGroup]="approveMember">
        <nb-card-header><b>Approve Member</b></nb-card-header><br><br>
        <nb-card-body>
            <nb-form-field>
                <input type="text" nbInput placeholder="Search">
                <button nbButton><nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon></button>
            </nb-form-field><br><br><br>
            <table>
                <tr>
                    <th style="text-align: center;">Name</th>
                    <th style="text-align: center;">Surname</th>
                    <th style="text-align: center;">View Member</th>
                    <th style="text-align: center;">Approve</th>
                </tr>
                <tr *ngFor="let member of members">
                    <td>{{member.Name}}</td>
                    <td>{{member.Surname}}</td>
                    <td>
                        <button nbButton style="text-align: center;" (click)="open()" fullWidth>View</button>
                    </td>
                    <td>
                        <nb-accordion>
                            <nb-accordion-item>
                                <nb-accordion-item-header>Approve</nb-accordion-item-header>
                                <nb-accordion-item-body>
                                    <nb-checkbox status="basic" (click)="showToast('top-right', 'success')">Approved</nb-checkbox>
                                </nb-accordion-item-body>
                                <nb-accordion-item-body>
                                    <nb-checkbox status="basic" (click)="showErrorToast('top-right', 'danger')"> Not Approved</nb-checkbox>
                                </nb-accordion-item-body>
                            </nb-accordion-item>
                        </nb-accordion>
                    </td>
                <tr>                
            </table>
            <br>
            <button nbButton style="float: right;" routerLink="/Members">Cancel</button>
        </nb-card-body>
    </form>
</nb-card>
