<script src="https://kit.fontawesome.com/a076d05399.js"></script>

<nb-layout>
  
    <nb-layout-column class="colored-column-basic">
  <!-- Content on page START -->
  <nb-card>
      <nb-card-header>
        <h1>Structure Discipleship Report  <button class="next-button" nbButton routerLink="/HomecellNotesAdd" style="float: right;  background: teal;color: white; border-color: teal;"> <nb-icon icon="save-outline"></nb-icon> Generate PDF</button></h1>
      </nb-card-header>
    <nb-card-body>
        <div >
        <label style="margin-right: 10px;">Discipleship: </label><nb-select placeholder="Select Discipleship" style="margin-right: 10px;">
            <nb-option value="">Disc</nb-option>
            <nb-option value="0">Baptised</nb-option>
            <nb-option value="1">Spiritual Gifts</nb-option>
            <nb-option value="3">All Discipleships</nb-option>
          </nb-select>
            
            <label style="margin-right: 10px;">From:</label><input type="date" nbInput  shape="rectangle" placeholder="Rectangle" style="margin-right: 10px;">
            <label style="margin-right: 10px;">To:</label><input type="date" nbInput  shape="rectangle" placeholder="Rectangle" style="margin-right: 10px;">
        <br><br>
            <button class="next-button" nbButton routerLink="/HomecellNotesAdd" style="margin-left:565px; background: teal;color: white; border-color: teal;">Generate Report</button>
        </div><br>
        <hr>
        <br><br>
        <br>
        <div style="text-align: center;"><img src="assets/lines.png" style="width: 450px; height: 300px;"></div><br><br>
        
        <div style="text-align: left; background-color: teal;"><label><b>All Discipleships - Total attendance rate : 95 %</b></label></div>
       <br>
        <table class="table">
            <thead>
                <tr>
                  
                  <th>Discipleship</th>
                  <th>Attended</th>
                  <th>Not Attended</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>DISC</td>
                    <td>25</td>
                    <td >6</td>
                </tr>
                <tr>
                    <td>Baptised</td>
                    <td>20</td>
                    <td >4</td>
                </tr>
                <tr>
                    <td>Spiritual Gifts</td>
                    <td>15</td>
                    <td >8</td>
                </tr>
            </tbody>
        </table>
        
    </nb-card-body>
  </nb-card>

  <!-- Content on page END -->
    </nb-layout-column>
  </nb-layout>
  


