<nb-card>
    <nb-card-header>
      <div style="float: left;"> <h3>Organisational structure position</h3></div><div>  <button class="next-button"  nbButton style="background-color: transparent; border:none;float: right; color: white; margin-right: 45px;" ><nb-icon icon="eye-outline"></nb-icon> View</button></div>
    </nb-card-header>
  <nb-card-body>
    <label style="margin-right: 180px;">Organisational Structure Level</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1"><br><br>
    <label style="margin-right: 75px;">Organisational Structure Type</label><nb-select placeholder="Select Type">
      <nb-option value="">Group</nb-option>
      <nb-option value="0">Individual</nb-option>
    </nb-select><br><br>
    <label style="margin-right: 52px;">Organisational Individual Position</label> <nb-select placeholder="Select Position">
      <nb-option value="">Senior Pastor</nb-option>
      <nb-option value="0">District Pastor</nb-option>
      <nb-option value="">Zone Pastor</nb-option>
      <nb-option value="0">Overseer</nb-option>
      <nb-option value="">Supervisor</nb-option>
      <nb-option value="0">Co-Ordinator</nb-option>
      <nb-option value="">Homecell Leader</nb-option>
      <nb-option value="0">Member</nb-option>
    </nb-select><br><br>
    <label style="margin-right: 210px;">Report To</label> <nb-select placeholder="Select Position">
      <nb-option value="">Senior Pastor</nb-option>
      <nb-option value="0">District Pastor</nb-option>
      <nb-option value="">Zone Pastor</nb-option>
      <nb-option value="0">Overseer</nb-option>
      <nb-option value="">Supervisor</nb-option>
      <nb-option value="0">Co-Ordinator</nb-option>
      <nb-option value="">Homecell Leader</nb-option>
      <nb-option value="0">Member</nb-option>
    </nb-select><br><br>
    <div style="width: 485px;">
    <label>Description</label><br><br><textarea nbInput fullWidth></textarea><br><br>
  </div>
  <div style="margin-left: 310px;">
    <button class="next-button" nbButton style="margin-right: 5px;" routerLink="/ViewOrgStructPos" >Back</button><button class="next-button" nbButton>Update</button>
</div><br>
  </nb-card-body>
</nb-card>
