<nb-card>
    <nb-card-header>
      <h1>Homecell Notes Upload</h1>
    </nb-card-header>
  <nb-card-body>
          <label style="margin-right: 10px;">Attach file</label><input type="file" class="next-button" nbButton style="margin-right: 5px;">
          
          <br><br><hr><br>
      <label style="font-size: medium;"><strong><u>Attached files</u></strong></label>
      <br><br>
      <table class="table">
          <thead>
              <tr>
                  <th>Date</th>
                  <th>File Name</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>2020-05-10</td>
                  <td><nb-icon icon="file-text-outline"></nb-icon> HCNotes_20200510.pdf</td>
              </tr>
          </tbody>
      </table><br>
      <div style="float: right;">
      <button class="next-button" nbButton style="margin-right: 5px;" routerLink="/HomecellNotes">Back</button><button class="next-button" nbButton>Submit</button>
  </div>
  </nb-card-body>
</nb-card>

