<h3>Discipleships</h3>

<!-- <input nbInput type="text"  [(ngModel)]="searchText" placeholder="Search..."> -->
<button nbButton status="basic" style="float: right;" routerLink="/AddDiscipleship">+</button>

<table class="table">
  <thead>
      <tr>
          <th>ID</th>
          <th>Description</th>
          <th></th>
          <th></th>
      </tr>
  </thead>
  <tbody>
    <tbody  *ngFor="let disc of DiscList | async ">
      <tr>
        <td>{{disc.DiscipleshipID}}</td>
        <td >{{disc.DiscipleshipDescription}}</td>
        <td ><button nbButton ghost status="basic" size="large"><nb-icon icon="edit-2-outline" routerLink="/UpdateDiscipleship/{{disc.DiscipleshipID}}" [options]="{ animation: { type: 'pulse' } }"></nb-icon></button></td>
        <td ><button nbButton ghost status="basic" type="button" size="large"><nb-icon icon="trash-2-outline" (click)="onDelete(disc)" [options]="{ animation: { type: 'pulse' } }"></nb-icon></button></td>
    </tr>

    </tbody>

</table>
