<form #FollowUp="ngForm" (ngSubmit)="onSubmit(FollowUp.value)">
<nb-card *ngFor="let p of followUpList">
  <nb-card-body>
      <nb-progress-bar [value]="p.FollowUpPorgress.PersentageComplete" status="success">Completed</nb-progress-bar>

    </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header>Follow Up on Discipleship</nb-card-header>
  <nb-card-body>

    <table  *ngFor="let p of followUpList">
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Cell Number</th>
        <th>Discipleship</th>
        <th></th>
      </tr>
      <tr *ngFor="let x of MemberList">
        <td>{{x.PersonName}}</td>
        <td>{{x.PersonSurname}}</td>
        <td>{{x.PersonNumber}}</td>
        <td>
          <nb-accordion>
           <nb-accordion-item>
          <nb-accordion-item-header>View</nb-accordion-item-header>
          <nb-accordion-item-body  *ngFor="let uc of x.AllDiscipleships, let i=index">

                <nb-checkbox status="primary"  #checked="ngModel" name="checked" [(ngModel)]="uc.isChecked"  (change)="changeSelection()">{{uc.DiscipleshipDescription}}</nb-checkbox>

          </nb-accordion-item-body>

         </nb-accordion-item>
        </nb-accordion>
        <input type="text" name="Person_Discipleship" [(ngModel)]="Person_Discipleship">
      </td>
      <td style="text-align: center;"><button nbButton size="small" >Completed<nb-icon icon="checkmark-outline"></nb-icon></button></td>
      </tr>

    </table>

  </nb-card-body>

</nb-card>
</form>
