<nb-card>
    <nb-card-header>
      <div style="float: left;"> <h3>Organisational structure position</h3></div><div>  <button class="next-button" nbButton style="background-color: transparent; border:none;float: right; color: white; margin-right: 45px;" ><nb-icon icon="eye-outline"></nb-icon> View</button></div>
    </nb-card-header>
  <nb-card-body>
    <label style="margin-right: 200px;">Member</label><input type="text" nbInput shape="rectangle"><button class="next-button" nbButton style="background-color: transparent; border:none; color: white; margin-right: 5px;" ><nb-icon icon="search-outline"></nb-icon></button><br><br>
    <label style="margin-right: 180px;">Organisational Structure Level</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1"><br><br>
    <label style="margin-right: 52px;">Organisational Individual Position</label> <nb-select placeholder="Select Position">
      <nb-option value="">Senior Pastor</nb-option>
      <nb-option value="0">District Pastor</nb-option>
      <nb-option value="">Zone Pastor</nb-option>
      <nb-option value="0">Overseer</nb-option>
      <nb-option value="">Supervisor</nb-option>
      <nb-option value="0">Co-Ordinator</nb-option>
      <nb-option value="">Homecell Leader</nb-option>
      <nb-option value="0">Member</nb-option>
    </nb-select><br><br>
    <label style="margin-right: 82px;">Organisational Group</label><button class="next-button"  nbButton style="background-color: transparent; border:none; color: white; margin-right: 5px;" >+ </button><nb-select placeholder="Select Type">
      <nb-option value="">UPPERROOM</nb-option>
      <nb-option value="0">Individual</nb-option>
    </nb-select><br><br>
    <label style="margin-right: 82px; color: transparent;">Organisational Group</label><button class="next-button"  nbButton style="background-color: transparent; border:none; color: transparent; margin-right: 5px;" >+ </button><nb-select placeholder="Select Homecell">
      <nb-option value="">Kids Church</nb-option>
      <nb-option value="0">Individual</nb-option>
    </nb-select><br><br>
    <label style="margin-right: 82px; color: transparent;">Organisational Group</label><button class="next-button"  nbButton style="background-color: transparent; border:none; color: transparent; margin-right: 5px;" >+ </button><nb-select placeholder="Select Type">
      <nb-option value="">Intercession</nb-option>
      <nb-option value="0">Individual</nb-option>
    </nb-select><br><br>
    <label style="margin-right: 82px; color: transparent;">Organisational Group</label><button class="next-button"  nbButton style="background-color: transparent; border:none; color: transparent; margin-right: 5px;" >+ </button><nb-select placeholder="Select Type">
      <nb-option value="">Street Ministry</nb-option>
      <nb-option value="0">Individual</nb-option>
    </nb-select><br><br>
  <div style="margin-left: 310px;">
    <button class="next-button" nbButton style="margin-right: 5px;" routerLink="/ViewOrgStructPos" >Back</button><button class="next-button" nbButton>Assign</button>
</div><br>
  </nb-card-body>
</nb-card>
