<nb-layout>
    
    <nb-layout-column class="colored-column-basic">
        <nb-card>
            <nb-card-header>
                <b>Assign Leader to Member</b>
            </nb-card-header><br><br>
        <nb-card-body>
            <nb-form-field>
                <input type="text" nbInput placeholder="Search">
                <button nbButton (click)="showErrorToast('top-right', 'danger')"><nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon></button>
            </nb-form-field><br><br><br>
            <table>
                <tr>
                    <th style="text-align: center;">Name</th>
                    <th style="text-align: center;">Surname</th>
                    <th style="text-align: center;">View</th>
                    <th style="text-align: center;">Assigned Leader</th>
                </tr>
                <tr *ngFor="let member of members">
                    <td>{{member.Name}}</td>
                    <td>{{member.Surname}}</td>
                    <td>
                        <button nbButton style="text-align: center;" (click)="open()" fullWidth>View</button>
                    </td>
                    <!--The leader in the dropdown should be found based on their position and the leader name should be displayed-->
                    <td>
                        <nb-select placeholder="Leader Name" ngModel formControlName="OrgIndivPosID" fullWidth> 
                            <nb-option *ngFor="let leaderpos of positions" [value]="leaderpos.OrgIndivPosID" (click)="showToast('top-right', 'success')">{{leaderpos.Decription}}</nb-option>
                        </nb-select>
                    </td>
                
            </table>
            <br>
            <button nbButton style="float: right;" routerLink="/Members">Cancel</button>
        </nb-card-body>

        </nb-card>
    
    </nb-layout-column>
</nb-layout>


