<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>   
    <ion-button slot="end" routerLink="/view-announcement">
      <ion-icon name="notifications-outline" size="medium" ></ion-icon>
    </ion-button>
    <ion-button slot="end" routerLink="/view-invitation">
      <ion-icon name="mail-unread-outline" size="medium" ></ion-icon>
    </ion-button>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title style="text-align: center; margin: 0.5em" color="primary">Remove Announcements</ion-title>
  <ion-list >
    <ion-card>
     
        <ion-card-title style="text-align: center; margin: 0.5em">Leadership meeting</ion-card-title>
        <ion-card-content>
          <ion-item>
            <p>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </p>
          </ion-item>
        
  
        <ion-button id="inv-button" color="danger"  expand="block"><ion-icon name="trash-outline" style="margin-right: 0.5em;"></ion-icon>Remove</ion-button>
  
    </ion-card-content>
    </ion-card> 
  </ion-list>
</ion-content>
