<nb-card>
    <nb-card-header>
      <h1>Zone Growth Report  <button class="next-button" nbButton routerLink="/HomecellNotesAdd" style="float: right;  background: teal;color: white; border-color: teal;"> <nb-icon icon="save-outline"></nb-icon> Generate PDF</button></h1>
    </nb-card-header>
  <nb-card-body>
      <div >
      <label style="margin-right: 10px;">Zone: </label><nb-select placeholder="Select Zone" style="margin-right: 10px;">
          <nb-option value="">Student Zone 1</nb-option>
          <nb-option value="0">Option 0</nb-option>
          <nb-option value="1">Option 1</nb-option>
          <nb-option value="2">Option 2</nb-option>
          <nb-option value="3">Option 3</nb-option>
          <nb-option value="4">Option 4</nb-option>
        </nb-select>
          
          <label style="margin-right: 10px;">From:</label><input type="date" nbInput  shape="rectangle" placeholder="Rectangle" style="margin-right: 10px;">
          <label style="margin-right: 10px;">To:</label><input type="date" nbInput  shape="rectangle" placeholder="Rectangle" style="margin-right: 10px;">
      <br><br>
          <button class="next-button" nbButton routerLink="/HomecellNotesAdd" style="margin-left:565px; background: teal;color: white; border-color: teal;">Generate Report</button>
      </div><br>
      <hr>
      <br><br>
      <br>
      <div style="text-align: center;"><img src="assets/line.png" style="width: 450px; height: 300px;"></div><br><br>
      
      <div style="text-align: left; background-color: teal;"><label><b>Student Zone 1 - Total growth rate : 15 %</b></label></div>
     <br>
      <table class="table">
          <thead>
              <tr>
                
                <th>Zone</th>
                  <th>Structure</th>
                  <th>Total growth</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>SZ1</td>
                  <td>Mopane</td>
                  <td >60</td>
              </tr>
              <tr>
                  <td>SZ1</td>
                  <td>TAU</td>
                  <td >40</td>
              </tr>
              <tr>
                  <td>SZ1</td>
                  <td>Morula</td>
                  <td >45</td>
              </tr>
              <tr>
                  <td>SZ1</td>
                  <td>Upperroom</td>
                  <td >30</td>
              </tr>
          </tbody>
      </table>
      
  </nb-card-body>
</nb-card>
