<h3>Organisational Individual Positions Access</h3>

<!-- <input nbInput type="text" placeholder="Search..."> -->
  <button nbButton status="basic" style="float: right;" routerLink="/AddOrgIndivPos">+</button>
<table class="table">
  <thead>
      <tr>

          <th>ID</th>
          <th>Description</th>
          <th>Use cases</th>
          <th>Goal Access</th>
          <th></th>
          <th></th>

      </tr>
  </thead>

      <tbody  *ngFor="let oip of OrgIndivPosList ">
        <tr>
          <td>{{oip.OrgIndivPosID}}</td>
          <td >{{oip.Decription}}</td>

          <!-- Use cases -->
        <td>


           <nb-accordion>
            <nb-accordion-item>
           <nb-accordion-item-header>View</nb-accordion-item-header>

           <nb-accordion-item-body >
            <nb-list>
          <nb-list-item *ngFor="let uc of oip.Use_Cases[0] " >
                {{uc.UCName}}
              </nb-list-item>
            </nb-list>

             <!-- <div *ngFor="let uc of oip.Use_Cases">
             <label>{{uc.UCName}}</label>
            </div> -->
           </nb-accordion-item-body>

          </nb-accordion-item >
        </nb-accordion>
      </td>
      <td>
          <!-- Goals -->
        <nb-accordion>
          <nb-accordion-item>
         <nb-accordion-item-header>View</nb-accordion-item-header>

         <nb-accordion-item-body >
          <nb-list  >
            <nb-list-item *ngFor="let g of oip.Goal_Access[0]" >

              {{g.GoalName}}
            </nb-list-item>
          </nb-list>
           <!-- <label>{{g.GoalName}}</label> -->
         </nb-accordion-item-body>

        </nb-accordion-item >
      </nb-accordion>
    </td>
      <td >
          <td ><button nbButton ghost status="basic" size="large"><nb-icon icon="edit-2-outline" routerLink="/MaintainOrgIndivPos/{{oip.OrgIndivPosID}}" [options]="{ animation: { type: 'pulse' } }"></nb-icon></button></td>
          <td ><button nbButton ghost status="basic" type="button" size="large"><nb-icon icon="trash-2-outline"  (click)="onDelete(oip)" [options]="{ animation: { type: 'pulse' } }"></nb-icon></button></td>
      </tr>

      </tbody>
</table>
