<form #updatedDiscipleship="ngForm" (ngSubmit)="onSubmit(updatedDiscipleship.value)">

<nb-card>
  <nb-card-header>Update Discipleship Module</nb-card-header>
  <nb-card-body *ngIf="disc">
    <input type="text" name="DiscipleshipID" [(ngModel)]="disc.DiscipleshipID"  required hidden  nbInput  shape="rectangle" >
  <label>Discipleship Description</label>
  <input type="text" name="DiscipleshipDescription"  required [(ngModel)]="disc.DiscipleshipDescription" style="width: 200px; margin:1em" nbInput  shape="rectangle" placeholder="eg. Spiritual Gifts">
  </nb-card-body>
  <nb-card-footer>
  <button nbButton type="submit" [disabled]= "updatedDiscipleship.invalid" status="basic">Submit</button>
  <button  nbButton type="button" (click)="open()" status="basic">Cancel</button>
</nb-card-footer>

</nb-card>
</form>

