<nb-card>
  <nb-card-body>
    <nb-stepper orientation="horizontal" disableStepNavigation>
      <nb-step [label]="labelOne">
        <ng-template #labelOne>Select A group</ng-template>
        <h4>Select A group</h4>
        <nb-card>
          <nb-card-header>
            My Groups
          </nb-card-header>
          <nb-list>
           <nb-list-item *ngFor="let group of Groups; let i = index">
            <nb-radio value="i" (click)="onClick()">{{group.type}}  {{group.name }}</nb-radio>
            </nb-list-item>
          </nb-list>
        </nb-card>
        <button class="prev-button" nbButton disabled nbStepperNext>prev</button>
        <button class="next-button" nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step [label]="labelTwo">
        <ng-template #labelTwo>Confirm Recipients</ng-template>
        <h4>Confirm Recipients</h4>
        <nb-card>
          <nb-card-header>
            Group Members
          </nb-card-header>
          <nb-list>
            <nb-list-item *ngFor="let person of Persons">
              <nb-checkbox (checkedChange)="select($event)">{{person}}</nb-checkbox>
            </nb-list-item>
          </nb-list>
        </nb-card>
        <button class="prev-button" nbButton nbStepperPrevious >prev</button>
        <button class="next-button" nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step label="Write Invitation">
        <h4>Write Invitation</h4>
        <div>
        <input type="text" placeholder="Summary" nbInput>
        <textarea nbInput fullWidth placeholder="Invitation Discription" class="x"></textarea>
        <input type="date" nbInput>
        <label><strong>Start time </strong></label>
        <input type="time" title="START" nbInput placeholder="Start time">
        <label><strong>End time </strong></label>
        <input type="time" title="END" nbInput placeholder="End time">
      </div>

        <button class="prev-button" nbButton nbStepperPrevious>prev</button>
        <button class="next-button" nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step  label="Send">
        <ng-template ><i class="paper-plane-outline"></i></ng-template>
        <h4>Send Invite</h4>
        <div>
          <p><strong>Are you sure you want to send this message?</strong></p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis consequatur necessitatibus illum obcaecati eos quia facilis suscipit, recusandae commodi id labore, odio nulla quaerat numquam sit nihil dolores perspiciatis deleniti?</p>
          <nb-list-item style="border:0em">
            <nb-checkbox (checkedChange)="select($event)">Confirm</nb-checkbox>
          </nb-list-item>
        </div>
        <button class="prev-button" nbButton nbStepperPrevious>prev</button>
        <button class="next-button" nbButton  nbStepperNext>Send</button>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>
