<ion-content>

  <div class="container">

    <div class="header">
      <div class="title">
        <img src="assets\crc-logo-menu-retina-white.png">
      </div>
      <h3>Welcome to CRC!</h3>
      <p>Enter your login details down below.</p>
    </div>

    <div class="body">

      <ion-list>
        <ion-item>
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-input placeholder="Username" ></ion-input>
        </ion-item>


        <ion-item>
          <ion-icon slot="start" name="key"></ion-icon>
          <ion-input type="password" placeholder="Password" ></ion-input>
        </ion-item>
       
      </ion-list>
      
    </div>

    <div class="footer">
      Forgot your password? &nbsp; <a routerLink="/reset-password">Reset Password</a>
    </div>

  </div>

</ion-content>