<nb-layout>

    <nb-layout-column class="colored-column-basic">
        <nb-card>
            <nb-card-header>Transfer Groups</nb-card-header><br><br>

        <nb-card-body>

            <label>Which Group whould you like to transfer from:</label>
            <nb-select placeholder="Select a Ministry">
                <nb-option value="0">Select Ministry</nb-option>
                <nb-option value="3">Youth & Student Ministry</nb-option>
                <nb-option value="6">Social Welfare</nb-option>
                <nb-option value="14">Homecell</nb-option>
            </nb-select><br><br><br>

            <label style="margin-right: 25px;">Which Group whould you like to transfer to:</label>
            <nb-select placeholder="Select a Ministry">
                <nb-option value="0">Select Ministry</nb-option>
                <nb-option value="1">Hospital Ministry</nb-option>
                <nb-option value="2">Bible Training Ministry</nb-option>
                <nb-option value="3">Youth & Student Ministry</nb-option>
                <nb-option value="4">Prayer and Interseccion</nb-option>
                <nb-option value="5">Street Ministry</nb-option>
                <nb-option value="6">Social Welfare</nb-option>
                <nb-option value="7">Children's Ministry</nb-option>
                <nb-option value="8">Creative Arts</nb-option>
                <nb-option value="9">Sound</nb-option>
                <nb-option value="10">Media & TV</nb-option>
                <nb-option value="11">Social Media</nb-option>
                <nb-option value="12">Ministry of Helps</nb-option>
                <nb-option value="13">Mucis</nb-option>
                <nb-option value="14">Homecell</nb-option>
            </nb-select>

            <br><br>

            <button nbButton status="basic" style="margin-right: 20px;" (click)="showToast('top-right', 'success')">Transfer</button>
            <button nbButton status="basic" routerLink="/Groups">Cancel</button>

        </nb-card-body>
        </nb-card>
           
        
    </nb-layout-column>

</nb-layout>


