<ion-content>

  <div class="container">

    <div class="header">
      <div class="title">
        <img src="assets\crc-logo-menu-retina-white.png">
      </div>
      <h3>Welcome to CRC!</h3>
      <p>Register to become a member</p>
    </div>

    <ion-content>
    <div class="body" id="Personal">
      <h4>Tell us about yourself</h4>
        <form>
          <ion-item lines="full">
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" required></ion-input>
          </ion-item>
      <br>
          <ion-item lines="full">
            <ion-label position="floating">Surname</ion-label>
            <ion-input type="text" required></ion-input>
          </ion-item>
          <br>

          <ion-item lines="full">
            <ion-label position="floating">Date of Birth</ion-label>
            <ion-datetime  required></ion-datetime>
          </ion-item>
          <br>

          <ion-item lines="full">
            <ion-label position="floating">Residential Address</ion-label>
            <ion-input type="text" required></ion-input>
          </ion-item>
          <br>

          <ion-item lines="full">
            <ion-label position="floating">Cellphone</ion-label>
            <ion-input type="text" required></ion-input>
          </ion-item>
          <br>

          <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" required></ion-input>
          </ion-item>

          <ion-row>
            <ion-col>
              <ion-button type="submit" style="background-color:#06bebd;"  expand="block" (click)='openChild()'>Next</ion-button>
            </ion-col>
          </ion-row>
        </form>
   
    </div>

    <div class="body" id="Child" style="display: none;">
      <h4>Child details</h4>
      <ion-checkbox (click)="openForm($event)" [(ngModel)]="checked"></ion-checkbox> <ion-label position="floating"> Do you have children?</ion-label>
        <form id="ChildForm" style="display: none;">
          <ion-item lines="full">
            <ion-label position="floating"> Child Name</ion-label>
            <ion-input type="text" required></ion-input>
          </ion-item>
      <br>
          <ion-item lines="full">
            <ion-label position="floating">Child Surname</ion-label>
            <ion-input type="text" required></ion-input>
          </ion-item>
      <br>
          <ion-item lines="full">
            <ion-label position="floating">Date of Birth</ion-label>
            <ion-datetime  required></ion-datetime>
          </ion-item>
      
          
          <ion-row>
            <ion-col>
              <ion-button type="submit" style="background-color:#06bebd;"  expand="block" (click)='openSecurity()'>Next</ion-button>
            </ion-col>
          </ion-row>
        </form>
   
    </div>

    
    <div class="body" id="Security" style="display: none;">
      <h4>Security details</h4>
        <form>
          <ion-item lines="full">
            <ion-label position="floating"> Username</ion-label>
            <ion-input type="text" required></ion-input>
          </ion-item>
      <br>
          <ion-item lines="full">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" required></ion-input>
          </ion-item>
          <br>

          <ion-item lines="full">
            <ion-label position="floating">Confirm Password</ion-label>
            <ion-input type="password" required></ion-input>
          </ion-item>
      
          
          <ion-row>
            <ion-col>
              <ion-button type="submit" style="background-color:#06bebd;"  expand="block" (click)='openDone()'>Next</ion-button>
            </ion-col>
          </ion-row>
        </form>
   
    </div>

    <div class="body" id="Done" style="display: none; text-align: center;" >
      <h4>All Done!</h4>
      <h5>We have received all of your information</h5>
        <form>
        <p>
          ______________________________________________________
        </p>
        <br>
        <h6>Your request to register has been sent</h6>
        <p>
You will have access to the system when your request has been confirmed.
        </p>
      
          
          <ion-row>
            <ion-col>
              <ion-button type="submit" style="background-color:#06bebd;"  expand="block">Done</ion-button>
            </ion-col>
          </ion-row>
        </form>
   
    </div>
  </ion-content>
