<nb-layout>
    
    <nb-layout-column class="colored-column-basic">
        <nb-card>
            <nb-card-header>
                <b>KidsChurch</b>
            </nb-card-header><br><br>
        <nb-card-body>
            <nb-form-field>
                <input type="text" nbInput placeholder="Search">
                <button nbButton><nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon></button>
            </nb-form-field><br><br>           
            <button nbButton style="margin-left: 30px; background-color: transparent; border: none; color:white" (click)="open2()"><nb-icon icon="person-done-outline"></nb-icon>Approve Sign-out</button>
            <br>
            <table>
                <tr>
                    <th><nb-checkbox status="basic"></nb-checkbox></th>
                    <th style="text-align: center;">Name</th>
                    <th style="text-align: center;">Surname</th>
                    <th style="text-align: center;">Parent</th>
                    <th style="text-align: center;">Parent Number</th>
                    <th style="text-align: center;">Group</th>
                    <th style="text-align: center;">View</th>
                </tr>
                <tr>
                    <td>
                        <nb-checkbox status="basic"></nb-checkbox>
                    </td>
                    <td>Lezanda</td>
                    <td>van Zyl</td>
                    <td>Lizette</td>
                    <td>071 532 4218</td>
                    <td>Teens</td>
                    <td>
                        <button nbButton style="text-align: center;" (click)="open3()" fullWidth>View</button>
                    </td>
                </tr>
                <!--
                <tr>
                    <td>
                        <nb-checkbox status="basic"></nb-checkbox>
                    </td>
                    <td>Christiaan</td>
                    <td>Swartz</td>
                    <td>Nico</td>
                    <td>086 364 2487</td>
                    <td>Teens</td>
                    <td>
                        <button nbButton style="text-align: center;" (click)="open3()" fullWidth>View</button>
                    </td>
                </tr>-->
            </table>
        </nb-card-body>
        </nb-card>
        
    
    </nb-layout-column>
</nb-layout>



