<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>  
    <ion-button slot="end" routerLink="/view-announcement">
      <ion-icon name="notifications-outline" size="medium" ></ion-icon>
    </ion-button>
    <ion-button slot="end" routerLink="/view-invitation">
      <ion-icon name="mail-unread-outline" size="medium" ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title style="text-align: center; margin: 0.5em" color="primary">New Member Orientation<br> Feedback</ion-title>

  <ion-card>
    <ion-item>
    <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Select Date"></ion-datetime>
  </ion-item>
    <ion-item>
    <ion-label  position="floating">Monthly Total</ion-label><ion-input type="number" ></ion-input>
  </ion-item>

 <ion-button  expand="block"><ion-icon name="checkmark-circle-outline" ></ion-icon>Set</ion-button>


  </ion-card>
</ion-content>
