<nb-card>
  <nb-card-header>
    <h1>Overview of Structure Report  <button class="next-button" nbButton routerLink="/HomecellNotesAdd" style="float: right;  background: teal;color: white; border-color: teal;"> <nb-icon icon="save-outline"></nb-icon> Generate PDF</button></h1>
  </nb-card-header>
<nb-card-body>
    <div >
    <label style="margin-right: 10px;">Structure: </label><nb-select placeholder="Select Structure" style="margin-right: 10px;">
        <nb-option value="">Student Zone 1</nb-option>
        <nb-option value="0">Option 0</nb-option>
        <nb-option value="1">Option 1</nb-option>
        <nb-option value="2">Option 2</nb-option>
        <nb-option value="3">Option 3</nb-option>
        <nb-option value="4">Option 4</nb-option>
      </nb-select>

        <label style="margin-right: 10px;">From:</label><input type="date" nbInput  shape="rectangle" placeholder="Rectangle" style="margin-right: 10px;">
        <label style="margin-right: 10px;">To:</label><input type="date" nbInput  shape="rectangle" placeholder="Rectangle" style="margin-right: 10px;">
    <br><br>
        <button class="next-button" nbButton routerLink="#" style="margin-left:580px; background: teal;color: white; border-color: teal;">Generate Report</button>
    </div><br>
    <hr>
    <br><br>
    <br>
    <div style="text-align: center;"><img src="assets/MultiLineGraph.png" style="width: 450px; height: 300px;"></div><br><br>

    <div style="text-align: left; background-color: teal;"><label><b>Structure x - Total growth rate : 15 %</b></label></div>
   <br>
       <table class="table">
      <thead>
        <tr>
          <th>Total</th>
          <th>March</th>
          <th>April</th>
          <th>May</th>
          <th>June</th>
        </tr>
      </thead>


      <tbody>
        <tr>

          <td><strong>Church Attendance</strong></td>
           <td>50</td>
           <td>41</td>
           <td>24</td>
           <td>33</td>

       </tr>
        <tr>

          <td><strong>Homecell Attendance</strong></td>
           <td>50</td>
           <td>41</td>
           <td>24</td>
           <td>33</td>

       </tr>
        <tr>

          <td><strong>Discipleship Course Attendance</strong></td>
           <td>50</td>
           <td>41</td>
           <td>24</td>
           <td>33</td>

       </tr>
        <tr>

          <td><strong>NMO Attendance</strong></td>
           <td>50</td>
           <td>41</td>
           <td>24</td>
           <td>33</td>

       </tr>
        <tr>

          <td><strong>Salvations</strong></td>
           <td>50</td>
           <td>41</td>
           <td>24</td>
           <td>33</td>

       </tr>


      </tbody>
  </table>
  <div style="text-align: left; background-color: teal;"><b>Homecell Attendance</b></div>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>March</th>
        <th>April</th>
        <th>May</th>
        <th>June</th>
      </tr>
    </thead>


    <tbody>
      <tr>

        <td><strong>Members</strong></td>
         <td>50</td>
         <td>41</td>
         <td>24</td>
         <td>33</td>

     </tr>
      <tr>

        <td><strong>Leaders</strong></td>
         <td>50</td>
         <td>41</td>
         <td>24</td>
         <td>33</td>

     </tr>
      <tr>

        <td><strong>Visitors</strong></td>
         <td>50</td>
         <td>41</td>
         <td>24</td>
         <td>33</td>

     </tr>
      <tr>

        <td><strong>First Time Visitors</strong></td>
         <td>50</td>
         <td>41</td>
         <td>24</td>
         <td>33</td>

     </tr>



    </tbody>
</table>
<div style="text-align: left; background-color: teal;"><b>Church Attendance</b></div>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>March</th>
      <th>April</th>
      <th>May</th>
      <th>June</th>
    </tr>
  </thead>


  <tbody>
    <tr>

      <td><strong>Members</strong></td>
       <td>50</td>
       <td>41</td>
       <td>24</td>
       <td>33</td>

   </tr>
    <tr>

      <td><strong>Leaders</strong></td>
       <td>50</td>
       <td>41</td>
       <td>24</td>
       <td>33</td>

   </tr>
    <tr>

      <td><strong>Visitors</strong></td>
       <td>50</td>
       <td>41</td>
       <td>24</td>
       <td>33</td>

   </tr>
    <tr>

      <td><strong>First Time Visitors</strong></td>
       <td>50</td>
       <td>41</td>
       <td>24</td>
       <td>33</td>

   </tr>



  </tbody>
</table>
</nb-card-body>
</nb-card>
