<nb-card>
    <nb-card-header><h2>Weekly Goals</h2></nb-card-header>
    <nb-card-body>
      <label style="margin-right: 135px;">Goal</label><nb-select placeholder="Select Goal">
          <nb-option value="">Homecell Attendance Goal</nb-option>
          <nb-option value="0">Church Attendance Goal</nb-option>
          <nb-option value="">New Member Orientation Goal</nb-option>
          <nb-option value="0">Discipleship Goal</nb-option>
          <nb-option value="">Structure Growth Goal</nb-option>
          <nb-option value="0">Zone Homecell Attendance Goal</nb-option>
          <nb-option value="">Zone Growth Goal</nb-option>
          <nb-option value="0">Zone Church Attendance Goal</nb-option>
        </nb-select><div style="float:right">
          <button nbButton size="small" style="margin-right: 10px;">Current Week</button>
          <button nbButton size="small" >Select week <nb-icon icon="arrow-ios-downward-outline"></nb-icon></button>
        </div><br><br><div style="float: right;">
          <label style="margin-right: 10px;">From:</label><input type="date" nbInput  shape="rectangle" placeholder="Rectangle" style="margin-right: 10px;">
          <label style="margin-right: 10px;">To:</label><input type="date" nbInput  shape="rectangle" placeholder="Rectangle" style="margin-right: 10px;">
      </div>
      <div> <h3>Homecell Attendance Goals</h3></div>
   <div style="float: left;">
          <button style="background-color: transparent; border:none;float: right; color: white; margin-right: 50px;"><nb-icon icon="eye-outline" ></nb-icon> View All</button>
          <button style="background-color: transparent; border:none;float: right; color: white;" routerLink="/CreateOrgStructPos"><nb-icon icon="plus-outline" ></nb-icon> Create</button>
        </div> 
        <br> <br>
      <table>
        <tr style="text-align: center;">
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th style="border-left: solid  white;"></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr style="text-align: center;">
          <th ><nb-checkbox status="danger"></nb-checkbox></th>
          <th>Structure</th>
          <th>HC-L</th>
          <th>HC-M</th>
          <th>HC-V</th>
          <th>HC-FTV</th>
          <th>HC-S</th>
          <th>Total</th>
          <th style="border-left: solid  white;">HC-L</th>
          <th>HC-M</th>
          <th>HC-V</th>
          <th>HC-FTV</th>
          <th>HC-S</th>
          <th>Total</th>
          <th><p style="margin-left: 15px;">Feedback</p></th>
        </tr>
        <tr>
          <td ><nb-checkbox status="danger"></nb-checkbox></td>
          <td>Lali</td>
          <td>6</td>
          <td>6</td>
          <td>3</td>
          <td>4</td>
          <td>1</td>
          <td>19</td>
          <td style="border-left: solid  white; background-color: green;"><nb-icon icon="arrow-upward-outline"></nb-icon> 2</td>
          <td style="background-color: orange;"><nb-icon icon="minus-outline"></nb-icon> 0</td>
          <td style="background-color: green;"><nb-icon icon="arrow-upward-outline"></nb-icon> 1</td>
          <td style="background-color: red;"><nb-icon icon="arrow-downward-outline"></nb-icon> 2</td>
          <td style="background-color: orange;"><nb-icon icon="minus-outline"></nb-icon>0</td>
          <td style="background-color: red;"><nb-icon icon="arrow-downward-outline"></nb-icon> 4</td>
          <td><button style="background-color: transparent; border:none; color: white; margin-right: 50px;"><nb-icon icon="eye-outline" ></nb-icon> View</button></td>
         </tr>
         <tr>
          <td ><nb-checkbox status="danger"></nb-checkbox></td>
          <td>David</td>
          <td>5</td>
          <td>15</td>
          <td>7</td>
          <td>5</td>
          <td>1</td>
          <td>32</td>
          <td style="border-left: solid  white; background-color: green;"><nb-icon icon="arrow-upward-outline"></nb-icon> 2</td>
          <td style="background-color: orange;"><nb-icon icon="minus-outline"></nb-icon> 0</td>
          <td style="background-color: red;"><nb-icon icon="arrow-downward-outline"></nb-icon> 2</td>
          <td style="background-color: orange;"><nb-icon icon="minus-outline"></nb-icon>0</td>
          <td style="background-color: green;"><nb-icon icon="arrow-upward-outline"></nb-icon> 1</td>
          <td style="background-color: red;"><nb-icon icon="arrow-downward-outline"></nb-icon> 4</td>
          <td><button style="background-color: transparent; border:none; color: white; margin-right: 50px;"><nb-icon icon="eye-outline" ></nb-icon> View</button></td>
         </tr>
         </table> <br>
         <div style="float:right">
          <button nbButton size="small"><nb-icon icon="trash-2-outline"></nb-icon> Delete</button>
        </div>
        
        <div style="text-align: center;">
          <img src="assets/LineChart.png" style="width: 600px; height: 400px;">
          <div style="text-align: center;">
            <h2>Homecell Attendance Feedback</h2>
          </div>
          <br><br>
            <table>
              <tr style="text-align: center;">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th style="border-left: solid  white;"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
              <tr style="text-align: center;">
                <th><nb-checkbox status="danger"></nb-checkbox></th>
                <th>Structure</th>
                <th>HC-L</th>
                <th>HC-M</th>
                <th>HC-V</th>
                <th>HC-FTV</th>
                <th>HC-S</th>
                <th>Total</th>
                <th style="border-left: solid  white;">HC-L</th>
                <th>HC-M</th>
                <th>HC-V</th>
                <th>HC-FTV</th>
                <th>HC-S</th>
                <th>Total</th>
              </tr>
              <tr>
                <td><nb-checkbox status="danger"></nb-checkbox></td>
                <td>Lali</td>
                <td>6</td>
                <td>6</td>
                <td>3</td>
                <td>4</td>
                <td>1</td>
                <td>19</td>
                <td style="border-left: solid  white; background-color: green;"> 8</td>
                 <td style="background-color: orange;"> 6</td>
                 <td style="background-color: green;"> 7</td>
                 <td style="background-color: red;">4</td>
                 <td style="background-color: orange;">1</td>
                 <td style="background-color: red;"> 15</td>
               </tr>
               <tr>
                <td><nb-checkbox status="danger"></nb-checkbox></td>
                <td>David</td>
                <td>5</td>
                <td>15</td>
                <td>7</td>
                <td>5</td>
                <td>1</td>
                <td>32</td>
                <td style="border-left: solid white; background-color: green;">8</td>
                <td style="background-color: orange;">5</td>
                <td style="background-color: red;">6</td>
                <td style="background-color: orange;">2</td>
                <td style="background-color: green;">3</td>
                <td style="background-color: red;">28</td>
               </tr>
               </table> <br>
        
        </div>
    </nb-card-body>

  </nb-card>
