<p>homecell-notes works!</p><nb-card>
    <nb-card-header>
      <h1>Homecell Notes</h1>
    </nb-card-header>
  <nb-card-body>
      <button style="background-color: transparent; border:none;float: right; color: white;"><nb-icon icon="funnel-outline" ></nb-icon> Filter</button>
      <br>
      <div>
          <label style="margin-right: 10px;">From:</label><input type="date" nbInput  shape="rectangle" placeholder="Rectangle" style="margin-right: 10px;">
          <label style="margin-right: 10px;">To:</label><input type="date" nbInput  shape="rectangle" placeholder="Rectangle" style="margin-right: 10px;">
      </div>
      <br><br>
      
      <table class="table">
          <thead>
              <tr>
                <th><nb-icon icon="trash-2-outline"></nb-icon></th>
                  <th>Date</th>
                  <th>File Name</th>
                  <th>Download</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                <td><nb-icon icon="trash-2-outline"></nb-icon></td>
                  <td>2020-05-10</td>
                  <td><nb-icon icon="file-text-outline"></nb-icon> HCNotes_20200510.pdf</td>
                  <td > <nb-icon icon="download-outline"></nb-icon></td>
              </tr>
              <tr>
                <td><nb-icon icon="trash-2-outline"></nb-icon></td>
                  <td>2020-05-16</td>
                  <td><nb-icon icon="file-text-outline"></nb-icon> HCNotes_20200516.pdf</td>
                  <td ><nb-icon icon="download-outline"></nb-icon></td>
              </tr>
          </tbody>
      </table>
      <div style="float: right;">
      <button class="next-button" nbButton style="margin-right: 5px;" >Delete</button><button class="next-button" nbButton routerLink="/HomecellNotesAdd">Upload</button>
  </div>
  </nb-card-body>
</nb-card>