<nb-card>
    <form [formGroup]="addChild" (ngSubmit)="onSubmit(addChild)">
        <nb-card-header>Add Child</nb-card-header>
        <br><br>
        <nb-card-body>
            <p>Please complete all the required fields</p>
            <br>
            
            <label style="margin-right: 138px;">Child Name:</label>
            <input type="text" nbInput ngModel formControlName="ChildName" placeholder="Child Name"  style="margin-right: 150px;" required>
            <br><br>

            <label style="margin-right: 118px;">Child Surname:</label>
            <input type="text" nbInput ngModel formControlName="ChildSurname" placeholder="Child Surname"  style="margin-right: 150px;" required>
            <br><br>

            <label style="margin-right: 133px;">Date of Birth:</label>  
            <input type="date" nbInput ngModel formControlName="DateOfBirth" shape="rectangle" required>
            <br><br>

            <label style="margin-right: 53px;">KidsChurch Class Name:</label>  
            <nb-select placeholder="Select a KidsChurch" ngModel formControlName="KidsChurchID">
                <nb-option *ngFor="let kidschurch of kidschurches" [value]="kidschurch.KidsChurchID">{{kidschurch.KidsChurchName}}</nb-option>
              </nb-select>
            <br><br><br>
            <button nbButton status="basic" style="margin-right: 30px;" (click)="showToast('top-right', 'success')">Add Child</button>
            <button nbButton status="basic" routerLink="/KidsChurch">Cancel</button>
        </nb-card-body>
    </form>
</nb-card>

