<nb-layout>



    <!-- nav bar start -->
    <nb-layout-header fixed>
      <a href="#" (click)="toggle()"><i class="nb-menu"><nb-icon icon="menu-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon></i></a>
      <div class="header-container">
      <nb-actions size="medium"  >
         <nb-action icon="email-outline"
                   badgeText="99+"
                   badgePosition="top right"
                   badgeStatus="info"
                   title="Invitations"
                   link="ViewInvitation"
                   >
        </nb-action>
        <nb-action icon="message-circle-outline"
                   badgeText="12"
                   badgePosition="top right"
                   badgeStatus="info"
                   title="Announcements"
                   link="ViewAnnouncement">
        </nb-action>
        <nb-action id="user">
          <nb-user name="John Doe" title="Engineer"></nb-user>
        </nb-action>
       </nb-actions>
      </div>


    </nb-layout-header>

    <nb-sidebar state="compacted">
            <nb-menu [items]="items"></nb-menu>
    </nb-sidebar>

    <!-- nav bar end -->

  <nb-layout-column>

    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
  <img src="https://church.crc.org.za/assets/img/brand/black-with-text.png" style=" height: 30px;">
  </nb-layout-footer>

</nb-layout>
