    <nb-card>
      <nb-card-header>Follow-Up on Salvations</nb-card-header>
      <nb-card-body>
        <table style="border: white;">
          <tbody>
            <tr>
              <td style="width: 450px;">
                <img src="assets/PieData.png">
              </td>
              <td>
                <label style="margin-left: 200px;">Total Number of Follow-ups: 120</label><br><br>
                <label style="margin-left: 200px;">Completed Number of Follow-ups: 96</label><br><br>
                <label style="margin-left: 200px;">Number of follow-ups remaining: 24</label><br><br>
                <p style="margin-left: 200px;"><nb-progress-bar [value]="80" status="success" style="width: 450px;" [displayValue]="true"> - Completed</nb-progress-bar></p>
              </td>
            </tr>
          </tbody>
        </table>
    </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-body>
        <table>
          <tr>
            <th>Completion</th>
            <th>Date</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Residential Address</th>
            <th>Home Number</th>
            <th>Work Number</th>
            <th>Cellphone</th>
            <th>Email</th>
            <th>Information</th>
          </tr>
          <tr>
            <td>
                <nb-accordion>
                 <nb-accordion-item>
                <nb-accordion-item-header>Follow-up</nb-accordion-item-header>
                <nb-accordion-item-body>
                    <td style="text-align: center;"><button nbButton size="small">Completed<nb-icon icon="checkmark-outline"></nb-icon></button></td>
                </nb-accordion-item-body>
                <nb-accordion-item-body>
                    <td style="text-align: center;"><button nbButton size="small">No Answer<nb-icon icon="close-outline"></nb-icon></button></td>
                </nb-accordion-item-body>
               </nb-accordion-item>
              </nb-accordion>
            </td>
            <td>2020-05-10</td>
            <td>Griffin</td>
            <td>Smith</td>
            <td>22</td>
            <td>154 roundthe Corner ave, Hatfield, Pretoria</td>
            <td>012 054 1756</td>
            <td>012 577 8952</td>
            <td>073 514 9632</td>
            <td>griffins@gmail.com</td>
            <td style="text-align: center;"><button nbButton size="small" routerLink="/SalvationView">View All<nb-icon icon="eye-outline"></nb-icon></button></td>
          </tr>
        </table>
      </nb-card-body>
    </nb-card>
