<form #createdOrgIndivPos="ngForm"   (ngSubmit)="onSubmit(createdOrgIndivPos.value)">

<nb-card>
    <nb-card-header>Assign Duties to Organisational Individual Position</nb-card-header>
    <nb-card-body>

       <div class="row" style="text-align: left;">
        <label style="float: left; margin-left: 25px; margin-top: 1em; margin-right: 2em;">Position</label>
         <input type="text"  required type="text" name="Decription" ngModel #Decription="ngModel"   nbInput id="Description"  placeholder="eg. Zone Pastor">
        <!-- <nb-select placeholder="Individual Position" name="Decription" ngModel #Decription="ngModel" >
          <nb-option *ngFor="let p of Positions"  [value]="p.Decription">{{p.Decription}}</nb-option>
        </nb-select> -->
        </div>
        <div class="row">
        <div class="column">
          <nb-card>
            <nb-card-header>Use Case Access</nb-card-header>
            <nb-card-body>
              <nb-list *ngIf="Usecases" >
                <nb-list-item *ngFor="let uc of Usecases"   >
                  <nb-checkbox status="primary"  #checkUC="ngModel"  name="checkUC" [(ngModel)]="uc.isChecked" (change)="changeSelection()">{{uc.UCName}}</nb-checkbox>
                </nb-list-item>
              </nb-list>
              <input type=text name="Use_Cases" [(ngModel)]="Use_Cases" hidden>

            </nb-card-body>
          </nb-card>

        </div>

        <div class="column">
          <nb-card>
            <nb-card-header>Goal Access</nb-card-header>
            <nb-card-body>
              <nb-list *ngIf="Goals">

                <nb-list-item *ngFor="let g of Goals"  >
                  <nb-checkbox status="primary"   name="checkGoal"  #checkGoal="ngModel"  [(ngModel)]="g.isChecked" (change)="changeSelection()" >{{g.GoalName}}</nb-checkbox>

                </nb-list-item>
              </nb-list>
              <input type=text name="Goal_Access" [(ngModel)]="Goal_Access" hidden >
            </nb-card-body>
          </nb-card>

        </div>
        </div>

          </nb-card-body>

          <nb-card-footer>
          <button nbButton type="submit"  [disabled]= "createdOrgIndivPos.invalid"  status="basic">Submit</button>
          <button type="button"  nbButton (click)="open()" status="basic">Cancel</button>
        </nb-card-footer>


        </nb-card>
      </form>
