<nb-card>
    <nb-card-header>Approve Child Sign-out</nb-card-header>
    <br><br>
    <nb-card-body>
        <p>
            Lezanda van Zyl was successfully signed out @ CRC Main 
            09:35am 2020-07-12.
        </p>
        <br><br>
        <button nbButton routerLink="/volunteerChildren">Done</button>
    </nb-card-body>
    
</nb-card>

