<nb-layout>
    
    <nb-layout-column class="colored-column-basic">
        <nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
            <nb-card-header>
                <b>KidsChurch</b>
                
            </nb-card-header><br><br>
        <nb-card-body>
            <nb-form-field>
                <input type="text" nbInput placeholder="Search">
                <button nbButton (click)="showErrorToast('top-right', 'danger')"><nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon></button>
            </nb-form-field><br><br>
            <button nbButton style="margin-right: 10px; background-color: transparent; border: none; color:white" routerLink="/AddChild"><nb-icon icon="person-add-outline"></nb-icon>Add Child</button>            
            <button nbButton style="margin-right: 10px; background-color: transparent; border: none; color:white" routerLink="/UpdateChild"><nb-icon icon="edit-outline"></nb-icon>Update Child</button>
            <button nbButton style="margin-right: 10px; background-color: transparent; border: none; color:white" (click)="open()" (click)="toggleLoadingAnimation()"><nb-icon icon="person-done-outline"></nb-icon>Sign-out Child</button>
            
            <table>
                <tr>
                    <th><nb-checkbox status="basic"></nb-checkbox></th>
                    <th style="text-align: center;">Name</th>
                    <th style="text-align: center;">Surname</th>
                    <th style="text-align: center;">Group</th>
                    <th style="text-align: center;">View</th>
                </tr>
                <tr>
                    <td>
                        <nb-checkbox status="basic"></nb-checkbox>
                    </td>
                    <td>Lezanda</td>
                    <td>van Zyl</td>
                    <td>Teens</td>
                    <td>
                        <button nbButton style="text-align: center;" (click)="open2()" fullWidth>View</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <nb-checkbox status="basic"></nb-checkbox>
                    </td>
                    <td>Christiaan</td>
                    <td>Swartz</td>
                    <td>Teens</td>
                    <td>
                        <button nbButton style="text-align: center;" (click)="open2()" fullWidth>View</button>
                    </td>
                </tr>
            </table>
        </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout>

