<nb-card>
    <nb-card-header>Member information</nb-card-header>
    <br><br>
    <nb-card-body>
        <label style="margin-right: 80px;">Name:</label>
    <input type="text" nbInput placeholder="Name"  style="margin-right: 150px;" >
    <br><br>

    <label style="margin-right: 60px;">Surname:</label>
    <input type="text" nbInput placeholder="Surname"  style="margin-right: 150px;" >
    <br><br>

    <label style="margin-right: 65px;">Number:</label>  
    <input type="text" nbInput placeholder="Number"  style="margin-right: 150px;" >
    <br><br>

    <label style="margin-right: 80px;">Email:</label>  
    <input type="text" nbInput placeholder="Email"  style="margin-right: 150px;" >
    <br><br>
    </nb-card-body>
</nb-card>
       

