<nb-card>
    <form [formGroup]="addGroup" (ngSubmit)="onSubmit(addGroup.value)">
        <nb-card-header>Add Group</nb-card-header>
        <nb-card-body>
            <p>Please complete all the required fields</p>
            <label>Select a group:</label>
            <nb-select ngModel formControlName="GroupTypeID" placeholder="Select a Group" required>
                <nb-option value="0">Hospital Ministry</nb-option>
                <nb-option value="1">Bible Training Ministry</nb-option>
                <nb-option value="2">Youth & Student Ministry</nb-option>
                <nb-option value="3">Prayer and Interseccion</nb-option>
                <nb-option value="4">Street Ministry</nb-option>
                <nb-option value="5">Social Welfare</nb-option>
                <nb-option value="6">Children's Ministry</nb-option>
                <nb-option value="7">Creative Arts</nb-option>
                <nb-option value="8">Sound</nb-option>
                <nb-option value="9">Media & TV</nb-option>
                <nb-option value="10">Social Media</nb-option>
                <nb-option value="11">Ministry of Helps</nb-option>
                <nb-option value="12">Mucis</nb-option>
                <nb-option value="13">Homecell</nb-option>
            </nb-select>
            <br><br>
            
            <label style="margin-right: 30px;">Group Name:</label>
            <input type="text" ngModel formControlName="GroupName" nbInput placeholder="Group Name"  style="margin-right: 150px;" required>
            <label style="margin-right: 23px; ">Group Leader:</label>
            <nb-select placeholder="Select Leader" required>
                <nb-option value="">Jackson</nb-option>
                <nb-option value="0">Individual</nb-option>
            </nb-select>
            <br><br>

            <label style="margin-right: 60px;">Address:</label>
            <input type="text" ngModel formControlName="Address" nbInput placeholder="Address"  style="margin-right: 150px;">
            <label style="margin-right: 68px;">Suburb:</label>
            <input type="text" ngModel formControlName="SuburbID" nbInput placeholder="Suburb">
            <br><br>

            <label style="margin-right: 90px;">City:</label>  
            <input type="text" ngModel formControlName="CityID" nbInput placeholder="City"  style="margin-right: 150px;">
            <label style="margin-right: 58px;">Province:</label>
            <input type="text" ngModel formControlName="ProvinceID" nbInput placeholder="Province">
            <br><br>
            
            <label style="margin-right: 63px;">Country:</label>
            <input type="text" ngModel formControlName="CountryID" nbInput placeholder="Country" >
            <br><br>
            
            <label style="margin-right: 87px;">Size:</label>
            <input type="number" ngModel formControlName="Size" nbInput placeholder="Members" required>
            <br><br>
            <button nbButton status="basic" style="margin-right: 30px;" (click)="showErrorToast('top-right', 'danger')">Add Group</button>
            <button nbButton status="basic" routerLink="/Groups">Cancel</button>
        </nb-card-body>
    </form>
</nb-card>

