<form [formGroup]="OrgStructPos" (ngSubmit)="addOrgStructPosForm(OrgStructPos.value)">
<nb-card>
    <nb-card-header>
      <div style="float: left;"> <h3>Organisational structure position</h3></div><div>  <button class="next-button" nbButton style="background-color: transparent; border:none;float: right; color: white; margin-right: 45px;" ><nb-icon icon="eye-outline"></nb-icon> View</button></div>
    </nb-card-header>
  <nb-card-body>
    <label style="margin-right: 180px;">Organisational Structure Level</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1" ngModel formControlName="OrgStructLevel" required><br><br>
    <label style="margin-right: 75px;">Organisational Structure Type</label><nb-select placeholder="Select Type" ngModel formControlName="OrgStructTypeID" required>
      <nb-option value="1">Group</nb-option>
      <nb-option value="2">Individual</nb-option>
    </nb-select><br><br>
    <label style="margin-right: 52px;">Organisational Individual Position</label> <nb-select placeholder="Select Position" ngModel formControlName="OrgIndivPosID" required>
      <nb-option value="1">Senior Pastor</nb-option>
      <nb-option value="2">District Pastor</nb-option>
      <nb-option value="3">Zone Pastor</nb-option>
      <nb-option value="4">Overseer</nb-option>
      <nb-option value="5">Supervisor</nb-option>
      <nb-option value="6">Co-Ordinator</nb-option>
      <nb-option value="7">Homecell Leader</nb-option>
      <nb-option value="8">Member</nb-option>
    </nb-select><br><br>
    <label style="margin-right: 210px;">Report To</label> <nb-select placeholder="Select Position" ngModel formControlName="OrgStructIDReportTo" required>
      <nb-option value="0">None</nb-option>
      <nb-option value="1">Senior Pastor</nb-option>
      <nb-option value="2">District Pastor</nb-option>
      <nb-option value="3">Zone Pastor</nb-option>
      <nb-option value="4">Overseer</nb-option>
      <nb-option value="5">Supervisor</nb-option>
      <nb-option value="6">Co-Ordinator</nb-option>
      <nb-option value="7">Homecell Leader</nb-option>
      <nb-option value="8">Member</nb-option>
    </nb-select><br><br>
    <div style="width: 485px;">
    <label>Description</label><br><br><textarea nbInput fullWidth ngModel formControlName="Description" required></textarea><br><br>
  </div>
  <div style="margin-left: 310px;">
    <button class="next-button" type="button" nbButton style="margin-right: 5px;" (click)="open()" >Back</button><input type="submit" value="Create" class="next-button" nbButton (click)="SuccessMessage('top-right','success')">
</div>
<br>
  </nb-card-body>
</nb-card>
</form>
