<nb-card>
    <nb-card-header>
      <div style="float: left;"> <h3>Organisational structure position</h3></div>
    </nb-card-header>
  <nb-card-body>
      <nb-card>
        <nb-card-body>
      </nb-card-body>
      </nb-card>
      <table>
          <tr>
            
            <th>Organisational Structure Level</th>
            <th>Organisational Structure Type</th>
            <th>Organisational Structure Position</th>
            <th>Report To</th>
            <th>Description</th>
            <th style="text-align: center;">Maintain</th>
          </tr>
          <tr>
              <td>1</td>
            <td>Individual</td>
            <td>Senior Pastor</td>
            <td>None</td>
          <td>Head of Church</td>
          <td style="text-align: center;">
              <button nbButton size="small" style="background-color: transparent; border: none; color: white" routerLink="/MaintainOrgStructPos"><nb-icon icon="edit-outline"></nb-icon> Edit</button>
              <button nbButton size="small" style="background-color: transparent; border: none; color: white" ><nb-icon icon="trash-2-outline"></nb-icon> Delete</button></td>
          </tr>
          <tr>
              <td>2</td>
              <td>Individual</td>
              <td>District Pastor</td>
              <td>Senior Pastor</td>
            <td>East DIstrict Pastor</td>
            <td style="text-align: center;">
              <button nbButton size="small" style="background-color: transparent; border: none; color: white" routerLink="/MaintainOrgStructPos"><nb-icon icon="edit-outline"></nb-icon> Edit</button>
              <button nbButton size="small" style="background-color: transparent; border: none; color: white" ><nb-icon icon="trash-2-outline"></nb-icon> Delete</button></td>
          
            </tr>
            <tr>
             <td>3</td>
              <td>Individual</td>
              <td>Zone Pastor</td>
              <td>District Pastor</td>
               <td>Lynnwood Zone Pastor</td>
               <td style="text-align: center;">
                  <button nbButton size="small" style="background-color: transparent; border: none; color: white" routerLink="/MaintainOrgStructPos"><nb-icon icon="edit-outline"></nb-icon> Edit</button>
                  <button nbButton size="small" style="background-color: transparent; border: none; color: white" ><nb-icon icon="trash-2-outline"></nb-icon> Delete</button></td>
            </tr>
        </table>
  </nb-card-body>
</nb-card>
