<nb-card [nbSpinner]="loading" nbSpinnerStatus="danger">
    <nb-card-header>Sign-out Child</nb-card-header>
    <br><br>
    <nb-card-body>
        <p>Please wait for confirmation from the Volunteer</p>
        <br><br>
        <button nbButton routerLink="/children">Done</button>
    </nb-card-body>
</nb-card>>

