<form #createdDiscipleship="ngForm" (ngSubmit)="onSubmit(createdDiscipleship.value)">

<nb-card>
  <nb-card-header>Add New Discipleship Module</nb-card-header>

  <nb-card-body>
   <label style="margin-right: 215px;">Discipleship Description</label>
   <input nbInput ngModel required type="text" name="DiscipleshipDescription" #DiscipleshipDescription="ngModel"  style="width: 200px; margin:1em"   shape="rectangle" placeholder="eg. Spiritual Gifts">
  </nb-card-body>
  <nb-card-footer>
    <button nbButton type="submit" status="basic" [disabled]= "createdDiscipleship.invalid">Submit</button>
    <button  type="button" nbButton (click)="open()"  status="basic">Cancel</button>
  </nb-card-footer>


</nb-card>
</form>
