<nb-card>
  <nb-card-header>Financial Contribution</nb-card-header>

  <nb-card-body>
    <form [formGroup]="financialContribution" (ngSubmit)="showBanking(financialContribution.value)">
      <div class="form-group">
        <label>Which Church would you like to contribute to:</label>
        <nb-select placeholder="Select a Church" ngModel formControlName="ChurchBankID">
          <nb-option *ngFor="let option of options" [value]="option.ChurchBankID">{{option.ChurchName}}</nb-option>
        </nb-select>
        <br><br>
        <input type="submit" nbButton style="margin-right: 20px;" value="Contribute">
        
        <button nbButton status="basic">Cancel</button>
      </div>
      <br><br>

      <div *ngIf="showTable">
        <table>
          <tr *ngFor="let bankinfo of banking">
            <td>{{bankinfo.AccountName}}</td>
            <td>{{bankinfo.AccountNumber}}</td>
            <td>{{bankinfo.Bank}}</td>
            <td>{{bankinfo.BrancCode}}</td>
            <td>{{bankinfo.Reference}}</td>
          </tr>
        </table>
      </div>

    </form>
  </nb-card-body>
</nb-card>



