<nb-card >
  <nb-card-header>
    <div style="float: left;"> <h3>Report on Structure growth</h3></div>
  </nb-card-header>
<nb-card-body>
    <label style="margin-right: 180px;">Date</label><input type="date"nbInput  shape="rectangle"><br><br>
    <label style="margin-right: 235px;">Members</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1"><br><br>

    <label style="margin-right: 70px;">Structure Name</label><input type="text"nbInput  shape="rectangle" ><br><br>

  <div style="margin-left: 255px;">
  <button class="next-button" nbButton style="margin-right: 5px;" routerLink="/ViewOrgStructPos" >Back</button><button class="next-button" nbButton (click)="showToast('top-right', 'success')">Set</button>
</div><br>
</nb-card-body>
</nb-card>
