
      <nb-card >
        <nb-card-header>
          <div style="float: left;"> <h3>Report Zone Homecell Attendance Goal</h3></div>
        </nb-card-header>
      <nb-card-body>
        <label style="margin-right: 180px;">Date</label><input type="date"nbInput  shape="rectangle"><br><br>
        <label style="margin-right: 135px;">Zone Pastor</label><nb-select placeholder="Select Zone Pastor">
            <nb-option value="">Mathew</nb-option>
            <nb-option value="0">Individual</nb-option>
          </nb-select><br><br>
        <label style="margin-right: 250px;">Leaders</label><input type="text" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1"><br><br>
        <label style="margin-right: 242px;">Members</label><input type="text" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1"><br><br>
        <label style="margin-right: 255px;">Visitors</label><input type="text" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1"><br><br>
        <label style="margin-right: 185px;">First Time Visitors</label><input type="text" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1"><br><br>
        <label style="margin-right: 235px;">Salvations</label><input type="text" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1"><br><br>
        <button class="next-button" nbButton (click)="showToast('top-right', 'success')" style="margin-right: 5px;">Report</button><button class="next-button" nbButton  routerLink="/goals">Back</button><br>
      </nb-card-body>
  </nb-card>
  




