<nb-card>
    <nb-card-header>View Child</nb-card-header>
<br><br>
<nb-card-body>
    
    <label style="margin-right: 120px;">Child Name:</label>
    <input type="text" nbInput placeholder="Child Name"  style="margin-right: 150px;" >
    <br><br>

    <label style="margin-right: 100px;">Child Surname:</label>
    <input type="text" nbInput placeholder="Child Surname"  style="margin-right: 150px;" >
    <br><br>

    <label style="margin-right: 115px;">Date of Birth:</label>  
    <input type="date"nbInput  shape="rectangle" required>
    <br><br>

    <label style="margin-right: 35px;">KidsChurch Class Name:</label>  
    <input type="text" nbInput placeholder="KidsChurch Name"  style="margin-right: 150px;" >
    <br><br>

    <label style="margin-right: 110px;">Parent Name:</label>  
    <input type="text" nbInput placeholder="Parent Name"  style="margin-right: 150px;" >
    <br><br>
    <label style="margin-right: 98px;">Parent Number:</label>  
    <input type="text" nbInput placeholder="Parent Number"  style="margin-right: 150px;" >
    <br><br>
    <button nbButton routerLink="/children">Done</button>
    
</nb-card-body>

</nb-card>      

