<nb-card status="success">
  <nb-card-header>Cancel Confirmation</nb-card-header>
  <nb-card-body >
      <Div style="text-align: center;">
          <nb-icon style="font-size: x-large;" icon="alert-circle-outline"></nb-icon>
          <p>Are you sure you want to cancel?</p>
      </Div>
  </nb-card-body>
  <nb-card-footer>
      <div style="float: right;">
          <button class="next-button"  nbButton style="margin-right: 5px;" (click)="Yes()">Yes</button> <button class="next-button"  nbButton style="margin-right: 5px;" (click)="No()">No</button>
      </div>
  </nb-card-footer>
</nb-card>
