<nb-layout>
    
    <nb-layout-column class="colored-column-basic">
        <nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
            <nb-card-header>
                <b>Sign-out</b>
                <button nbButton style="float:right; background-color: transparent; border: none; color:white" routerLink="/VolunteerSignOut"><nb-icon icon="person-done-outline"></nb-icon>Approve Sign-out</button>
                <button nbButton style="float:right; background-color: transparent; border: none; color:white" routerLink="/SignUutChild"><nb-icon icon="person-done-outline"></nb-icon>Sign-out Child</button>
                <button nbButton style="float:right; background-color: transparent; border: none; color:white" routerLink="/UpdateChild"><nb-icon icon="edit-outline"></nb-icon>Update Child</button>
                <button nbButton style="float:right; background-color: transparent; border: none; color:white" routerLink="/AddChild"><nb-icon icon="person-add-outline"></nb-icon>Add Child</button>
            </nb-card-header><br><br>
        <nb-card-body>
            <nb-form-field>
                <input type="text" nbInput placeholder="Search">
                <button><nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon></button>
            </nb-form-field><br><br><br>
            <table>
                <tr>
                    <th><nb-checkbox [checked]="false"  status="basic"></nb-checkbox></th>
                    <th style="text-align: center;">Name</th>
                    <th style="text-align: center;">Surname</th>
                    <th style="text-align: center;">KidsChurch Class</th>
                    
                </tr>
                <tr>
                    <td><nb-checkbox [checked]="false"  status="basic"></nb-checkbox></td>
                    <td>Lezanda</td>
                    <td>van Zyl</td>
                    <td>CRC Main</td>
                    
                <tr>
                    <td><nb-checkbox [checked]="false"  status="basic"></nb-checkbox></td>
                    <td>Christiaan</td>
                    <td>Swartz</td>
                    <td>CRC Main</td>
                    
                </tr>
                <tr>
                    <td><nb-checkbox [checked]="false"  status="basic"></nb-checkbox></td>
                    <td>Louise</td>
                    <td>Maré</td>
                    <td>CRC Main</td>
                    
                </tr>
                <tr>
                    <td><nb-checkbox [checked]="false"  status="basic"></nb-checkbox></td>
                    <td>Rikus</td>
                    <td>de Jager</td>
                    <td>CRC Main</td>
                    
                </tr>
                <tr>
                    <td><nb-checkbox [checked]="false"  status="basic"></nb-checkbox></td>
                    <td>Reuben</td>
                    <td>Els</td>
                    <td>CRC Main</td>
                    
                </tr>
            </table>
            <br><br><br>
            <button nbButton status="basic" style="float: right; margin-left: 20px;" routerLink="/KidsChurch">Cancel</button>
            <button nbButton status="basic" style="float: right;" (click)="open()" (click)="toggleLoadingAnimation()" >Sign-out</button>
            
        </nb-card-body>

        </nb-card>
    
    </nb-layout-column>
</nb-layout>



