ng2-smart-table {
    tableHeader {
        font-weight: bold;
    }
}



nb-form-field {
    float: right;
}

table {
    border: 1px solid lightpurple;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(odd){background-color: #252547}
  
  th {
    background-color:#252547 ;
    color: white;
  }
  
  nb-accordion{
    box-shadow: none;
    nb-accordion-item{
    background-color: transparent;
    }
  
  }

  nb-user{
    margin-left:950px;
  }

