<nb-layout>
    
    <nb-layout-column class="colored-column-basic">
        <nb-card>
        <nb-card-header>
            <b>Groups</b>            
            <button nbButton style="float:right; background-color: transparent; border: none; color:white" routerLink="/GroupTransfer"><nb-icon icon="swap-outline"></nb-icon>Transfer Groups</button>
            <button nbButton style="float:right; background-color: transparent; border: none; color:white"><nb-icon icon="home-outline"></nb-icon>Serve</button>
            
            
            <!--
            <button nbButton style="float: right; margin-left: 15px;" routerLink="/addGroup">
                <nb-icon icon="person-add-outline" ></nb-icon>Add Group
            </button>
            <button nbButton style="float:right; background-color: transparent; border: none; color:white" routerLink="/maintainGroup"><nb-icon icon="edit-outline"></nb-icon>Update</button>
            -->
        </nb-card-header><br><br>
        <nb-card-body>
            <nb-form-field>
                <input type="text" nbInput placeholder="Search">
                <button nbButton (click)="showErrorToast('top-right', 'danger')"><nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon></button>
            </nb-form-field><br><br><br>

            <button nbButton style="background-color: transparent; border: none; color:white" routerLink="/AddGroup"><nb-icon icon="plus-outline"></nb-icon>Add Group</button>
            <button nbButton style="background-color: transparent; border: none; color:white" routerLink="/MaintainGroup"><nb-icon icon="edit-outline"></nb-icon>Update</button>
            <br>
            <table>
                <tr>
                    
                    <th><nb-checkbox status="basic"></nb-checkbox></th>
                    <th style="text-align: center;">Group Name</th>
                    <th>View Group</th>
                </tr>

                <tr>
                    <td>
                        <nb-checkbox status="basic"></nb-checkbox>
                    </td>
                    <td>Homecell</td>
                    <td>
                        <button nbButton style="text-align: center;" (click)="open()" fullWidth>View</button>
                    </td>
                </tr>

                <tr>
                    <td>
                        <nb-checkbox status="basic"></nb-checkbox>
                    </td>
                    <td>Social Welfare</td>
                    <td>
                        <button nbButton style="text-align: center;" (click)="open()" fullWidth>View</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <nb-checkbox status="basic"></nb-checkbox>
                    </td>
                    <td>Student & Youth Ministry</td>
                    <td>
                        <button nbButton style="text-align: center;" (click)="open()" fullWidth>View</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <nb-checkbox status="basic"></nb-checkbox>
                    </td>
                    <td>Music</td>
                    <td>
                        <button nbButton style="text-align: center;" (click)="open()" fullWidth>View</button>
                    </td>
                </tr>
            </table>
        </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout>


