<h3>Invitations</h3>
<div>
  <!-- Message 1 -->
  <nb-card>
    <nb-card-header>Event Title</nb-card-header>
    <nb-card-body>
      <strong>Event Date: 2020-05-14</strong><br>
      <strong>Event Time: 14:00 - 16:00</strong><br>

        A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
        Originally, nebula was a name for any diffuse astronomical object,
        including galaxies beyond the Milky Way.

    </nb-card-body>
    <nb-card-footer><button nbButton small>Add To Calender</button>
      <button nbButton small>Dismiss</button></nb-card-footer>
  </nb-card>

  <!-- Message 2 -->
  <nb-card>
    <nb-card-header>Event Title</nb-card-header>
    <nb-card-body>
      <strong>Event Date: 2020-05-14</strong><br>
      <strong>Event Time: 14:00 - 16:00</strong><br>

        A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
        Originally, nebula was a name for any diffuse astronomical object,
        including galaxies beyond the Milky Way.

    </nb-card-body>
    <nb-card-footer><button nbButton small>Add To Calender</button>
      <button nbButton small>Dismiss</button></nb-card-footer>
  </nb-card>

  <!-- Message 3 -->
  <nb-card>
    <nb-card-header>Event Title</nb-card-header>
    <nb-card-body>
      <strong>Event Date: 2020-05-14</strong><br>
      <strong>Event Time: 14:00 - 16:00</strong><br>

        A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
        Originally, nebula was a name for any diffuse astronomical object,
        including galaxies beyond the Milky Way.

    </nb-card-body>
    <nb-card-footer><button nbButton small>Add To Calender</button>
      <button nbButton small>Dismiss</button></nb-card-footer>
  </nb-card>

  <!-- Message 4 -->
  <nb-card>
    <nb-card-header>Event Title</nb-card-header>
    <nb-card-body>
      <strong>Event Date: 2020-05-14</strong><br>
      <strong>Event Time: 14:00 - 16:00</strong><br>

        A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
        Originally, nebula was a name for any diffuse astronomical object,
        including galaxies beyond the Milky Way.

    </nb-card-body>
    <nb-card-footer><button nbButton small>Add To Calender</button>
      <button nbButton small>Dismiss</button></nb-card-footer>
  </nb-card>

  <!-- Message 5 -->
  <nb-card>
    <nb-card-header>Event Title</nb-card-header>
    <nb-card-body>
      <strong>Event Date: 2020-05-14</strong><br>
      <strong>Event Time: 14:00 - 16:00</strong><br>

        A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
        Originally, nebula was a name for any diffuse astronomical object,
        including galaxies beyond the Milky Way.

    </nb-card-body>
    <nb-card-footer><button nbButton small>Add To Calender</button>
      <button nbButton small>Dismiss</button></nb-card-footer>
  </nb-card>

  <!-- Message 6 -->
  <nb-card>
    <nb-card-header>Event Title</nb-card-header>
    <nb-card-body>
      <strong>Event Date: 2020-05-14</strong><br>
      <strong>Event Time: 14:00 - 16:00</strong><br>

        A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
        Originally, nebula was a name for any diffuse astronomical object,
        including galaxies beyond the Milky Way.

    </nb-card-body>
    <nb-card-footer><button nbButton small>Add To Calender</button>
      <button nbButton small>Dismiss</button></nb-card-footer>
  </nb-card>


</div>
