<form #createdAnnouncement (ngSubmit)="onSubmit(createdAnnouncement.value)">
<nb-card>
  <nb-card-body>
    <nb-stepper orientation="horizontal" disableStepNavigation>
<!-- ************************SELECT RECIPIENTS ************************************-->
      <nb-step label="Select Recipients" [stepControl]="Receivers">
        <h4>Select Recipients</h4>
        <nb-card>
          <nb-card-header>
            Select Announcement Recipients
          </nb-card-header>
          <form [formGroup]="Receivers" ngSubmit="SelectedReceivers()">
          <nb-list>
            <nb-list-item *ngFor="let person of Persons; let i = index">
              <nb-checkbox (checkedChange)="select($event)" formControlName="Receivers" [value]="person.key" >{{person.text}}</nb-checkbox>
            </nb-list-item>
          </nb-list>
          </form>
          {{isChecked}}
        </nb-card>
        <button class="prev-button" nbButton nbStepperPrevious disabled>prev</button>
        <button class="next-button" nbButton nbStepperNext [disabled]="!Receivers.valid">next</button>
      </nb-step>

<!-- ************************ WRITE ANNOUNCEMENT ************************************-->

      <nb-step label="Write Announcement" [stepControl]="AnnouncementContent">
        <h4>Write Announcement</h4>
        <form [formGroup]="AnnouncementContent" ngSubmit="WriteAnnouncement()">
        <textarea nbInput fullWidth placeholder="Announcement Content"  formControlName="Message" class="x" ></textarea>
        </form>
        <button class="prev-button" nbButton nbStepperPrevious >prev</button>
        <button class="next-button" nbButton nbStepperNext [disabled]="!AnnouncementContent.valid">next</button>
      </nb-step>

<!-- ************************ CONFIRM MESSAGE AND SEND ************************************-->

      <nb-step label="Send" [stepControl]="ConfirmedAnnouncement">
        <ng-template><i class="paper-plane-outline"></i></ng-template>
        <h4>Post Announcememnt</h4>
        <div>
          <p><strong>Are you sure you want to send this message?</strong></p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis consequatur necessitatibus illum obcaecati eos quia facilis suscipit, recusandae commodi id labore, odio nulla quaerat numquam sit nihil dolores perspiciatis deleniti?</p>
          <nb-list-item style="border:0em">
            <form [formGroup]="ConfirmedAnnouncement"  ngSubmit="SendAnnouncement()">
            <nb-checkbox (checkedChange)="select($event)" formControlName="Confirm" required>Confirm</nb-checkbox>
            </form>
          </nb-list-item>

        </div>
        <button class="prev-button" nbButton nbStepperPrevious>prev</button>
        <button class="next-button" nbButton  nbStepperNext [disabled]="!ConfirmedAnnouncement.valid">Send</button>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>
</form>

