<form #ChildRegistration="ngForm" (ngSubmit)="onSubmit(ChildRegistration.value)">
<nb-card>
  <nb-card-body>
    <nb-stepper orientation="horizontal" disableStepNavigation>
      <nb-step [label]="labelOne">
        <ng-template #labelOne>Select A Child</ng-template>
        <h4>Select A Child</h4>
        <nb-card>
          <nb-card-header>
            My Children
          </nb-card-header>
          <nb-list>
           <nb-list-item *ngFor="let group of Groups; let i = index">
            <nb-radio value="i" (click)="onClick()">{{group.name }}</nb-radio>
            </nb-list-item>
          </nb-list>
        </nb-card>
        <button class="prev-button" nbButton disabled nbStepperNext>prev</button>
        <button class="next-button" nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step [label]="labelTwo">
        <ng-template #labelTwo>Select a Class</ng-template>
        <h4>Select a Class</h4>
        <nb-card>
          <nb-card-header>
            Classes
          </nb-card-header>
          <nb-list>
            <nb-list-item *ngFor="let person of Persons">
              <nb-radio value="i" (click)="onClick()">{{person}}</nb-radio>
            </nb-list-item>
          </nb-list>
        </nb-card>
        <button class="prev-button" nbButton nbStepperPrevious>prev</button>
        <button class="next-button" nbButton nbStepperNext>next</button>
      </nb-step>

      <nb-step  label="Confirm">
        <ng-template ><i class="paper-plane-outline"></i></ng-template>
        <h4>Confirm Registration</h4>
        <div>
          <p><strong>Are you sure you want to register [ChildName] into [ClassName]?</strong></p>
          <nb-list-item style="border:0em">
            <nb-checkbox (checkedChange)="select($event)">Confirm</nb-checkbox>
          </nb-list-item>


        </div>
        <button class="prev-button" nbButton nbStepperPrevious>prev</button>
        <button nbButton outline status="basic" (click)="showToast('top-right','success')">Confirm</button>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
  </nb-card>
</form>
