<nb-card >
    <nb-card-header>
      <div style="float: left;"> <h3>Set Zone Homecell Attendance Goal</h3></div>
    </nb-card-header>
  <nb-card-body>
      <label style="margin-right: 180px;">Date</label><input type="date"nbInput  shape="rectangle"><br><br>
      <label style="margin-right: 135px;">Overseer</label><nb-select placeholder="Select Overseer">
          <nb-option value="">Lali</nb-option>
          <nb-option value="0">Individual</nb-option>
        </nb-select><br><br>
    <label style="margin-right: 250px;">Leaders</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1"><br><br>
    <label style="margin-right: 242px;">Members</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1"><br><br>
    <label style="margin-right: 255px;">Visitors</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1"><br><br>
    <label style="margin-right: 185px;">First Time Visitors</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1"><br><br>
    <label style="margin-right: 235px;">Salvations</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1"><br><br>
  <div style="margin-left: 255px;">
    <button class="next-button" nbButton style="margin-right: 5px;" routerLink="/ViewOrgStructPos" >Back</button><button class="next-button" nbButton>Set</button>
</div><br>
  </nb-card-body>
</nb-card>

<!-- Content on page END -->

<nb-card >
  <nb-card-header>
    <div style="float: left;"> <h3>Set Zone Church Attendance Goal</h3></div>
  </nb-card-header>
<nb-card-body>
    <label style="margin-right: 180px;">Date</label><input type="date"nbInput  shape="rectangle"><br><br>
    <label style="margin-right: 135px;">Overseer</label><nb-select placeholder="Select Overseer">
        <nb-option value="">Lali</nb-option>
        <nb-option value="0">Individual</nb-option>
      </nb-select><br><br>
      <label style="margin-right: 250px;">Leaders</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1"><br><br>
      <label style="margin-right: 242px;">Members</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1"><br><br>
      <label style="margin-right: 255px;">Visitors</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1"><br><br>
      <label style="margin-right: 185px;">First Time Visitors</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1"><br><br>
      <label style="margin-right: 235px;">Salvations</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1"><br><br>
    <div style="margin-left: 255px;">
  <button class="next-button" nbButton style="margin-right: 5px;" routerLink="/ViewOrgStructPos" >Back</button><button class="next-button" nbButton>Set</button>
</div><br>
</nb-card-body>
</nb-card>



<nb-card >
  <nb-card-header>
    <div style="float: left;"> <h3>Set Homecell Attendance Goal</h3></div>
  </nb-card-header>
<nb-card-body>
    <label style="margin-right: 180px;">Date</label><input type="date"nbInput  shape="rectangle"><br><br>
    <label style="margin-right: 135px;">Overseer</label><nb-select placeholder="Select Overseer">
        <nb-option value="">Lali</nb-option>
        <nb-option value="0">Individual</nb-option>
      </nb-select><br><br>
      <label style="margin-right: 250px;">Leaders</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1"><br><br>
      <label style="margin-right: 242px;">Members</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1"><br><br>
      <label style="margin-right: 255px;">Visitors</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1"><br><br>
      <label style="margin-right: 185px;">First Time Visitors</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1"><br><br>
      <label style="margin-right: 235px;">Salvations</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1"><br><br>
    <div style="width: 405px;">
      <label>Description</label><br><br><textarea nbInput fullWidth></textarea><br><br>
    </div>
  <div style="margin-left: 255px;">
  <button class="next-button" nbButton style="margin-right: 5px;" routerLink="/ViewOrgStructPos" >Back</button><button class="next-button" nbButton>Set</button>
</div><br>
</nb-card-body>
</nb-card>


<nb-card >
  <nb-card-header>
    <div style="float: left;"> <h3>Set Church Attendance Goal</h3></div>
  </nb-card-header>
<nb-card-body>
    <label style="margin-right: 180px;">Date</label><input type="date"nbInput  shape="rectangle"><br><br>
    <label style="margin-right: 135px;">Overseer</label><nb-select placeholder="Select Overseer">
        <nb-option value="">Lali</nb-option>
        <nb-option value="0">Individual</nb-option>
      </nb-select><br><br>
      <label style="margin-right: 250px;">Leaders</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1"><br><br>
      <label style="margin-right: 242px;">Members</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1"><br><br>
      <label style="margin-right: 255px;">Visitors</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1"><br><br>
      <label style="margin-right: 185px;">First Time Visitors</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1"><br><br>
      <label style="margin-right: 235px;">Salvations</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1"><br><br>
    <div style="width: 405px;">
      <label>Description</label><br><br><textarea nbInput fullWidth></textarea><br><br>
    </div>
  <div style="margin-left: 255px;">
  <button class="next-button" nbButton style="margin-right: 5px;" routerLink="/ViewOrgStructPos" >Back</button><button class="next-button" nbButton>Set</button>
</div><br>
</nb-card-body>
</nb-card>



<nb-card >
  <nb-card-header>
    <div style="float: left;"> <h3>Set New Member Orientation Goal</h3></div>
  </nb-card-header>
<nb-card-body>
    <label style="margin-right: 180px;">Date</label><input type="date"nbInput  shape="rectangle"><br><br>
    <label style="margin-right: 135px;">Overseer</label><nb-select placeholder="Select Overseer">
        <nb-option value="">Lali</nb-option>
        <nb-option value="0">Individual</nb-option>
      </nb-select><br><br>
  <label style="margin-right: 215px;">Monthly Total</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1"><br><br>
  <div style="width: 405px;">
      <label>Description</label><br><br><textarea nbInput fullWidth></textarea><br><br>
    </div>
  <div style="margin-left: 255px;">
  <button class="next-button" nbButton style="margin-right: 5px;" routerLink="/ViewOrgStructPos" >Back</button><button class="next-button" nbButton>Set</button>
</div><br>
</nb-card-body>
</nb-card>


<nb-card >
  <nb-card-header>
    <div style="float: left;"> <h3>Set Discipleship Goal</h3></div>
  </nb-card-header>
<nb-card-body>
    <label style="margin-right: 180px;">Date</label><input type="date"nbInput  shape="rectangle"><br><br>
    <label style="margin-right: 135px;">Overseer</label><nb-select placeholder="Select Overseer">
        <nb-option value="">Lali</nb-option>
        <nb-option value="0">Individual</nb-option>
      </nb-select><br><br>
      <label style="margin-right: 115px;">Discipleship</label><nb-select placeholder="Select Type">
          <nb-option value="">Baptism</nb-option>
          <nb-option value="0">Individual</nb-option>
        </nb-select><br><br>
  <label style="margin-right: 225px;">Attendance</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1"><br><br>
  <div style="width: 405px;">
      <label>Description</label><br><br><textarea nbInput fullWidth></textarea><br><br>
    </div>
  <div style="margin-left: 255px;">
  <button class="next-button" nbButton style="margin-right: 5px;" routerLink="/ViewOrgStructPos" >Back</button><button class="next-button" nbButton>Set</button>
</div><br>
</nb-card-body>
</nb-card>


<nb-card >
  <nb-card-header>
    <div style="float: left;"> <h3>Set Structure growth Goal</h3></div>
  </nb-card-header>
<nb-card-body>
    <label style="margin-right: 180px;">Date</label><input type="date"nbInput  shape="rectangle"><br><br>
    <label style="margin-right: 135px;">Overseer</label><nb-select placeholder="Select Overseer">
        <nb-option value="">Lali</nb-option>
        <nb-option value="0">Individual</nb-option>
      </nb-select><br><br>
 <label style="margin-right: 247px;">Member</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1"><br><br>
  <div style="width: 405px;">
      <label>Description</label><br><br><textarea nbInput fullWidth></textarea><br><br>
    </div>
  <div style="margin-left: 255px;">
  <button class="next-button" nbButton style="margin-right: 5px;" routerLink="/ViewOrgStructPos" >Back</button><button class="next-button" nbButton >Set</button>
</div><br>
</nb-card-body>
</nb-card>


<nb-card >
  <nb-card-header>
    <div style="float: left;"> <h3>Set Zone Growth Goal</h3></div>
  </nb-card-header>
<nb-card-body>
    <label style="margin-right: 180px;">Date</label><input type="date" nbInput  shape="rectangle"><br><br>
    <label style="margin-right: 135px;">Overseer</label><nb-select placeholder="Select Overseer">
        <nb-option value="">Lali</nb-option>
        <nb-option value="0">Individual</nb-option>
      </nb-select><br><br>
  <label style="margin-right: 247px;">Member</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1"><br><br>
<div style="width: 405px;">
      <label>Description</label><br><br><textarea nbInput fullWidth></textarea><br><br>
    </div>
  <div style="margin-left: 255px;">
  <button class="next-button" nbButton style="margin-right: 5px;" routerLink="/ViewOrgStructPos" >Back</button><button class="next-button" nbButton>Set</button>
</div><br>
</nb-card-body>
</nb-card>
