<nb-layout>
    
    <nb-layout-column class="colored-column-basic">
        <nb-card>
            <nb-card-header>
                <b>Members</b>
                <button nbButton style="float: right; margin-left: 30px;" routerLink="/ApproveMember">
                    <nb-icon icon="person-done-outline" ></nb-icon>Approve Member
                </button>
                <button nbButton style="float: right;" routerLink="/AssignLeader">
                    <nb-icon icon="person-add-outline" ></nb-icon>Assign Leader
                </button>
            </nb-card-header><br><br>
        <nb-card-body>
            <nb-form-field>
                <input type="text" nbInput placeholder="Search">
                <button nbButton (click)="showErrorToast('top-right', 'danger')"><nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon></button>
            </nb-form-field><br><br><br>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                </tr>
                <tr *ngFor="let member of members">
                    <td>{{member.Name}}</td>
                    <td>{{member.Surname}}</td>
                <tr>
            </table>
        </nb-card-body>

        </nb-card>
    
    </nb-layout-column>
</nb-layout>

